.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button img {
  width: 80px;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #f5923e;
  color: white;
}

.component-button button:focus {
  outline: none;
}

/* Ripple effect */

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #d4d4d4 radial-gradient(circle, transparent 1%, #d4d4d4 1%) center/15000%;
}

.ripple:active {
  background-color: #e0e0e0;
  background-size: 100%;
  transition: background 0s;
}

.component-button.orange .ripple:hover {
  background: #f38d33 radial-gradient(circle, transparent 1%, #f38d33 1%) center/15000%;
}

.component-button.orange .ripple:active {
  background-color: #f5923e;
  background-size: 100%;
  transition: background 0s;
}